In [1]:
import pandas as pd
import seaborn as sns

In [2]:
df=pd.read_csv(r"C:\Users\HP\Downloads\Home Price Prediction & Analysis .csv")

In [3]:
df.head(2)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,03/09/2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,03/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.7996,144.9984,Northern Metropolitan,4019.0

In [4]:
df.duplicated().sum()

1

In [5]:
df.drop_duplicates(inplace=True)

In [6]:
df.isnull().sum()

Suburb               0
Address              0
Rooms                0
Type                 0
Price             7609
Method               0
SellerG              0
Date                 0
Distance             1
Postcode             1
Bedroom2          8217
Bathroom          8226
Car               8728
Landsize         11810
BuildingArea     21115
YearBuilt        19306
CouncilArea          3
Lattitude         7976
Longtitude        7976
Regionname           3
Propertycount        3
dtype: int64

In [7]:
df.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,34856.000000,2.724700e+04,34855.000000,34855.000000,26639.000000,26630.000000,26128.000000,23046.000000,13741.000000,15550.000000,26880.000000,26880.000000,34853.000000
mean,3.031013,1.050173e+06,11.184808,3116.062430,3.084650,1.624747,1.728835,593.607177,160.251616,1965.287653,-37.810634,145.001845,7572.962901
std,0.969947,6.414671e+05,6.788952,109.025437,0.980708,0.724177,1.010789,3398.915462,401.281270,37.328340,0.090281,0.120167,4428.131940
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.190430,144.423790,83.000000
25%,2.000000,6.350000e+05,6.400000,3051.000000,2.000000,1.000000,1.000000,224.000000,102.000000,1940.000000,-37.862950,144.933500,4385.000000
50%,3.000000,8.700000e+05,10.300000,3103.000000,3.000000,2.000000,2.000000,521.000000,136.000000,1970.000000,-37.807600,145.007800,6763.000000
75%,4.000000,1.295000e+06,14.000000,3156.000000,4.000000,2.000000,2.000000,670.000000,188.000000,2000.000000,-37.754092,145.071900,10412.000000
max,16.000000,1.120000e+07,48.100000,3978.000000,30.000000,12.000000,26.000000,433014.000000,44515.000000,2106.000000,-37.390200,145.526350,21650.000000

In [8]:
df["Price"].mean()

1050173.344955408

In [9]:
df["Price"].fillna(1050173,inplace=True)

C:\Users\HP\AppData\Local\Temp\ipykernel_3428\2277492941.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Price"].fillna(1050173,inplace=True)

In [10]:
(df.isnull().sum())/(df.isnull().sum().sum())*100

Suburb            0.000000
Address           0.000000
Rooms             0.000000
Type              0.000000
Price             0.000000
Method            0.000000
SellerG           0.000000
Date              0.000000
Distance          0.001071
Postcode          0.001071
Bedroom2          8.800943
Bathroom          8.810582
Car               9.348257
Landsize         12.649280
BuildingArea     22.615541
YearBuilt        20.677984
CouncilArea       0.003213
Lattitude         8.542816
Longtitude        8.542816
Regionname        0.003213
Propertycount     0.003213
dtype: float64

In [11]:
df = df.drop(['Address','Date','Postcode','YearBuilt',"Lattitude","Longtitude"],axis=1)

In [12]:
df.columns

Index(['Suburb', 'Rooms', 'Type', 'Price', 'Method', 'SellerG', 'Distance',
       'Bedroom2', 'Bathroom', 'Car', 'Landsize', 'BuildingArea',
       'CouncilArea', 'Regionname', 'Propertycount'],
      dtype='object')

In [13]:
(df.isnull().sum())/(df.isnull().sum().sum())*100

Suburb            0.000000
Rooms             0.000000
Type              0.000000
Price             0.000000
Method            0.000000
SellerG           0.000000
Distance          0.001721
Bedroom2         14.141397
Bathroom         14.156886
Car              15.020824
Landsize         20.324923
BuildingArea     36.338760
CouncilArea       0.005163
Regionname        0.005163
Propertycount     0.005163
dtype: float64

In [14]:
df["CouncilArea"].fillna(df["CouncilArea"].mode()[0],inplace=True)

C:\Users\HP\AppData\Local\Temp\ipykernel_3428\2712058723.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["CouncilArea"].fillna(df["CouncilArea"].mode()[0],inplace=True)

In [15]:
df[df["Distance"].isnull()==True]

,Suburb,Rooms,Type,Price,Method,SellerG,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,CouncilArea,Regionname,Propertycount
29483,Fawkner Lot,3,h,616000.0,SP,Brad,NaN,NaN,NaN,NaN,NaN,NaN,Boroondara City Council,NaN,NaN

In [16]:
df["Distance"].fillna(13.5,inplace=True)

C:\Users\HP\AppData\Local\Temp\ipykernel_3428\3997372583.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Distance"].fillna(13.5,inplace=True)

In [17]:
df["Propertycount"].fillna(6763,inplace=True) # 50%

C:\Users\HP\AppData\Local\Temp\ipykernel_3428\63282616.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Propertycount"].fillna(6763,inplace=True) # 50%

In [18]:
df["Regionname"].fillna(df["Regionname"].mode()[0],inplace=True)

C:\Users\HP\AppData\Local\Temp\ipykernel_3428\218111854.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Regionname"].fillna(df["Regionname"].mode()[0],inplace=True)

In [19]:
df["BuildingArea"].mean()

160.25161587220725

In [20]:
df["BuildingArea"].fillna(136,inplace=True)

C:\Users\HP\AppData\Local\Temp\ipykernel_3428\1310268470.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["BuildingArea"].fillna(136,inplace=True)

In [21]:
df["Landsize"].mean()

593.607176950447

In [22]:
df["Landsize"].fillna(521,inplace=True)

C:\Users\HP\AppData\Local\Temp\ipykernel_3428\1511158256.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Landsize"].fillna(521,inplace=True)

In [23]:
df["Car"].fillna(2,inplace=True)

C:\Users\HP\AppData\Local\Temp\ipykernel_3428\4265636771.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Car"].fillna(2,inplace=True)

In [24]:
df["Bedroom2"].mean()

3.0846503247118884

In [25]:
df["Bedroom2"].fillna(3,inplace=True)

C:\Users\HP\AppData\Local\Temp\ipykernel_3428\1789398082.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Bedroom2"].fillna(3,inplace=True)

In [26]:
df["Bathroom"].fillna(2,inplace=True)

C:\Users\HP\AppData\Local\Temp\ipykernel_3428\2539153353.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Bathroom"].fillna(2,inplace=True)

In [27]:
df["CouncilArea"].value_counts()

CouncilArea
Boroondara City Council           3678
Darebin City Council              2851
Moreland City Council             2122
Glen Eira City Council            2006
Melbourne City Council            1952
Banyule City Council              1861
Moonee Valley City Council        1791
Bayside City Council              1764
Brimbank City Council             1593
Monash City Council               1466
Stonnington City Council          1460
Maribyrnong City Council          1451
Port Phillip City Council         1280
Hume City Council                 1214
Yarra City Council                1186
Manningham City Council           1045
Hobsons Bay City Council           942
Kingston City Council              871
Whittlesea City Council            828
Wyndham City Council               624
Whitehorse City Council            618
Maroondah City Council             506
Knox City Council                  371
Greater Dandenong City Council     314
Melton City Council                292
Frankston City Council             290
Casey City Council                 176
Yarra Ranges Shire Council         102
Nillumbik Shire Council             88
Macedon Ranges Shire Council        46
Cardinia Shire Council              41
Mitchell Shire Council              20
Moorabool Shire Council              7
Name: count, dtype: int64

In [28]:
df["Suburb"].unique()

array(['Abbotsford', 'Airport West', 'Albert Park', 'Alphington',
       'Altona', 'Altona North', 'Armadale', 'Ascot Vale', 'Ashburton',
       'Ashwood', 'Avondale Heights', 'Balaclava', 'Balwyn',
       'Balwyn North', 'Bentleigh', 'Bentleigh East', 'Box Hill',
       'Braybrook', 'Brighton', 'Brighton East', 'Brunswick',
       'Brunswick West', 'Bulleen', 'Burwood', 'Camberwell', 'Canterbury',
       'Carlton North', 'Carnegie', 'Caulfield', 'Caulfield North',
       'Caulfield South', 'Chadstone', 'Clifton Hill', 'Coburg',
       'Coburg North', 'Collingwood', 'Doncaster', 'Eaglemont',
       'Elsternwick', 'Elwood', 'Essendon', 'Essendon North', 'Fairfield',
       'Fitzroy', 'Fitzroy North', 'Flemington', 'Footscray', 'Glen Iris',
       'Glenroy', 'Gowanbrae', 'Hadfield', 'Hampton', 'Hampton East',
       'Hawthorn', 'Heidelberg Heights', 'Heidelberg West', 'Hughesdale',
       'Ivanhoe', 'Kealba', 'Keilor East', 'Kensington', 'Kew',
       'Kew East', 'Kooyong', 'Maidstone', 'Malvern', 'Malvern East',
       'Maribyrnong', 'Melbourne', 'Middle Park', 'Mont Albert',
       'Moonee Ponds', 'Moorabbin', 'Newport', 'Niddrie',
       'North Melbourne', 'Northcote', 'Oak Park', 'Oakleigh South',
       'Parkville', 'Pascoe Vale', 'Port Melbourne', 'Prahran', 'Preston',
       'Reservoir', 'Richmond', 'Rosanna', 'Seddon', 'South Melbourne',
       'South Yarra', 'Southbank', 'Spotswood', 'St Kilda', 'Strathmore',
       'Sunshine', 'Sunshine North', 'Sunshine West', 'Surrey Hills',
       'Templestowe Lower', 'Thornbury', 'Toorak', 'Viewbank', 'Watsonia',
       'West Melbourne', 'Williamstown', 'Williamstown North', 'Windsor',
       'Yallambie', 'Yarraville', 'Aberfeldie', 'Bellfield',
       'Brunswick East', 'Burnley', 'Campbellfield', 'Carlton',
       'East Melbourne', 'Essendon West', 'Fawkner', 'Hawthorn East',
       'Heidelberg', 'Ivanhoe East', 'Jacana', 'Kingsbury', 'Kingsville',
       'Murrumbeena', 'Ormond', 'West Footscray', 'Albion', 'Brooklyn',
       'Glen Huntly', 'Oakleigh', 'Ripponlea', 'Cremorne', 'Docklands',
       'South Kingsville', 'Strathmore Heights', 'Travancore',
       'Caulfield East', 'Seaholme', 'Keilor Park', 'Gardenvale',
       'Princes Hill', 'Altona Meadows', 'Ardeer', 'Attwood', 'Bayswater',
       'Bayswater North', 'Beaumaris', 'Berwick', 'Blackburn',
       'Blackburn South', 'Boronia', 'Briar Hill', 'Broadmeadows',
       'Bundoora', 'Burnside Heights', 'Burwood East', 'Cairnlea',
       'Caroline Springs', 'Cheltenham', 'Clarinda', 'Clayton',
       'Clyde North', 'Craigieburn', 'Cranbourne', 'Croydon',
       'Croydon Hills', 'Croydon North', 'Dandenong', 'Dandenong North',
       'Diamond Creek', 'Dingley Village', 'Doncaster East', 'Donvale',
       'Doreen', 'Edithvale', 'Eltham', 'Eltham North', 'Emerald',
       'Epping', 'Eumemmerring', 'Ferntree Gully', 'Forest Hill',
       'Frankston', 'Frankston North', 'Frankston South', 'Gisborne',
       'Gladstone Park', 'Glen Waverley', 'Greensborough', 'Greenvale',
       'Hallam', 'Healesville', 'Heathmont', 'Highett', 'Hillside',
       'Hoppers Crossing', 'Huntingdale', 'Keilor Downs', 'Keilor Lodge',
       'Keysborough', 'Kings Park', 'Lalor', 'Lower Plenty', 'Lynbrook',
       'MacLeod', 'Melton', 'Melton South', 'Melton West', 'Mentone',
       'Mernda', 'Mickleham', 'Mill Park', 'Mitcham', 'Montmorency',
       'Montrose', 'Mordialloc', 'Mount Waverley', 'Mulgrave',
       'Narre Warren', 'Noble Park', 'Nunawading', 'Oakleigh East',
       'Parkdale', 'Point Cook', 'Ringwood', 'Ringwood East', 'Rockbank',
       'Rowville', 'Roxburgh Park', 'Sandringham', 'Seabrook', 'Seaford',
       'Skye', 'South Morang', 'Springvale', 'Springvale South',
       'St Albans', 'St Helena', 'Sunbury', 'Sydenham', 'Tarneit',
       'Taylors Hill', 'Taylors Lakes', 'Tecoma', 'Templestowe',
       'The Basin', 'Thomastown', 'Truganina', 'Tullamarine', 'Vermont',
       'Vermont South', 'Wantirna', 'Wantirna South', 'Werribee',
       'Werribee South', 'Westmeadows', 'Williams Landing', 'Wollert',
       'Wyndham Vale', 'Aspendale', 'Black Rock', 'Blackburn North',
       'Bonbeach', 'Carrum', 'Chelsea', 'Clayton South', 'Dallas',
       'Delahey', 'Doveton', 'McKinnon', 'Mooroolbark', 'Pakenham',
       'Ringwood North', 'Scoresby', 'Warrandyte', 'Watsonia North',
       'Wattle Glen', 'Wheelers Hill', 'Albanvale', 'Aspendale Gardens',
       'Belgrave', 'Carrum Downs', 'Cranbourne East', 'Cranbourne North',
       'Deer Park', 'Heatherton', 'Kilsyth', 'Langwarrin', 'Notting Hill',
       'Patterson Lakes', 'Riddells Creek', 'Beaconsfield Upper',
       'Chelsea Heights', 'Chirnside Park', 'Coolaroo', 'Darley',
       'Hampton Park', 'Keilor', 'Meadow Heights', 'Mount Evelyn',
       'North Warrandyte', 'Sandhurst', 'Silvan', 'Wallan',
       'Croydon South', 'Derrimut', 'Diggers Rest', 'Knoxfield', 'Upwey',
       'Warranwood', 'Bacchus Marsh', 'Bullengarook', 'Deepdene',
       'Hurstbridge', 'Kurunjang', 'Laverton', 'Lilydale', 'Wonga Park',
       'Endeavour Hills', 'Officer', 'Olinda', 'Waterways',
       'Beaconsfield', 'Yarra Glen', 'Brookfield', 'Lysterfield',
       'Plenty', 'Whittlesea', 'Burnside', 'New Gisborne', 'Guys Hill',
       'Plumpton', 'croydon', 'Monbulk', 'Avonsleigh', 'Wildwood',
       'Gisborne South', 'Research', 'viewbank', 'Botanic Ridge', 'Bulla',
       'Coldstream', 'Hopetoun Park', 'Cranbourne West', 'Eynesbury',
       'Fawkner Lot', 'Ferny Creek', 'Wandin North', 'Kalkallo',
       'Menzies Creek'], dtype=object)

In [29]:
df["SellerG"].unique()

array(['Jellis', 'Biggin', 'Rounds', 'Nelson', 'Collins', 'Dingle',
       'Purplebricks', 'Greg', 'Philip', 'LITTLE', 'Kay', 'Beller',
       'Marshall', 'hockingstuart', 'Brad', 'Maddison', 'Barry',
       'Airport', 'Considine', 'Rendina', 'Ray', 'Propertyau', 'McDonald',
       'Frank', 'Prof.', 'Harcourts', 'Thomson', 'Buxton', 'RT',
       "Sotheby's", 'Cayzer', 'Chisholm', 'McGrath', 'Brace', 'Miles',
       'Holland', 'Love', 'Thomas', 'Barlow', 'Sweeney', 'Village', 'Jas',
       'Williams', 'Gunn&Co', 'Burnham', 'Point', 'Compton', 'FN',
       'Hunter', 'Raine&Horne', 'Noel', 'Hodges', 'Gary', 'Fletchers',
       'Woodards', 'Raine', 'Alexkarbon', 'Walshe', 'Weda', 'Stockdale',
       'Tim', 'Buxton/Marshall', 'AIME', 'Moonee', 'HAR', 'Edward', 'RW',
       'North', 'MICM', 'Ascend', 'Christopher', 'Morrison', 'Bekdon',
       'Mandy', 'R&H', 'Fletchers/One', 'Lindellas', 'Appleby', 'Assisi',
       'One', 'Owen', 'Parkes', 'C21', 'Century', "O'Brien", 'Bayside',
       'Anderson', 'Paul', 'hockingstuart/Buxton', 'Smart', 'First',
       'Matthew', 'Melbourne', 'Nick', 'Allens', 'Bells', 'Nguyen',
       'Trimson', 'Douglas', 'Batty', 'GL', 'YPA', "Tiernan's", 'J',
       'Castran', 'Branon', 'Rodney', 'Joseph', 'Harrington', 'Galldon',
       'Grantham', 'Chambers', 'Pagan', 'Peter',
       'hockingstuart/Advantage', 'Ross', 'Rayner', 'Garvey',
       "O'Donoghues", 'Hamilton', 'Weast', 'Kelly', 'Property',
       "Private/Tiernan's", 'Australian', 'Bustin', "Abercromby's",
       'Whiting', 'iTRAK', 'Del', 'Caine', 'Nicholson', 'JMRE', 'ASL',
       'Changing', 'Re', 'RE', 'Walsh', 'Foxtons', 'Ham', 'Darren', 'Vic',
       'Haughton', 'Scott', 'Pride', 'Morleys', 'Wilson',
       'Buxton/Advantage', 'Professionals', 'Joe', 'Red',
       'hockingstuart/Jellis', 'Craig', 'Naison', 'Sweeney/Advantage',
       'Reach', 'Domain', 'Eview', 'Jason', "D'Aprano", 'Charlton',
       'CASTRAN', 'Wood', 'William', 'Coventry', 'Buckingham', 'Nardella',
       'Karen', 'LJ', 'Shape', 'Direct', 'Fletchers/Fletchers', 'Besser',
       'Johnston', 'Avion', 'Redina', 'Clairmont', 'Lucas', 'Dixon',
       'Xynergy', 'Elite', 'Buxton/Find', 'W.B.', 'Leased',
       'Harcourts/Barry', 'Win', 'Collings', 'New', 'Parkinson', 'Geoff',
       'hockingstuart/Barry', 'Blue', 'MSM', 'Steveway',
       'hockingstuart/Village', 'VICPROP', 'Inner', 'Meadows', 'Allan',
       'S&L', 'Crane', 'Calder', 'Metro', 'Homes', 'Zahn', 'Mason',
       'Landfield', 'David', 'Luxe', 'Prowse', 'Ken', 'Rombotis', 'iOne',
       'hockingstuart/Sweeney', 'Iconek', 'Luxton', 'Hooper', 'JRW',
       'Oak', 'White', 'Jim', 'Weston', '@Realty', 'Reed', 'Oriental',
       'Max', 'Steller', 'Rosin', 'Real', 'Jeffrey', 'Hall', 'Icon',
       'buyMyplace', 'WHITEFOX', 'Christou', 'Marvelli', "Grant's",
       'Hoskins', 'Gardiner', 'McLennan', 'Triwest', 'Reliance',
       'PRDNationwide', 'Only', 'Leyton', 'iSell', 'Obrien', 'Maitland',
       'Millership', 'L', 'Emerson', 'Follett', 'Ash', 'LLC', 'Ace',
       'Flannagan', 'Carter', 'WeSell', 'M.J', 'iProperty',
       'Hayeswinckle', 'Schroeder', 'iHomes', 'VICProp', 'REMAX', 'Space',
       'Victory', 'Aumeca', 'Mindacom', 'Ryder', 'Sanctuary', 'Leeburn',
       'Asset', 'Westside', 'Sell', 'Mitchell', 'Darras', 'U', 'Nicholas',
       'Rexhepi', 'Keatings', 'Aquire', 'Conquest', 'Prime', 'Donovan',
       'Community', 'Free', 'Veitch', 'John', 'Peake', 'Ristic', 'JY',
       'Upper', 'Daniel', 'VicHomes', 'TRUE', 'McNaughton', 'Leading',
       'Bullen', 'Better', 'Boutique', 'Royston', 'Langwell', 'Silver',
       'Wyndham', 'Kaye', 'Nicholls', 'Bowman', 'Just', 'Home', 'Le',
       'Cooper', 'Black', 'The', 'Open', 'Roger', 'McEwing', 'Sandhurst',
       'Boran', 'hockingstuart/hockingstuart', 'Area', 'MJ', 'Eric', 'SN',
       'Waterfront', 'P', 'PRD', 'Bombay', 'Quinta', 'T', 'Tanner', 'LJH',
       'Munn', 'Knight', 'Justin', 'Blackbird', 'Sweeney/Burnham', 'H',
       'Alex', 'Can', 'Pavilion', 'Benchmark', 'Gellibrand',
       'hockingstuart/Harcourts', 'Charter', 'Surreal', 'Vicprop', 'A',
       'Upside', 'OBrien', 'Meallin', 'Malvern', 'Mark', 'Bradly', 'For',
       'Peninsula', 'Sutherland', 'Leaders', 'Spencer',
       'McGrath/Langwell', 'Benlor', 'Burns', 'Sterling', 'K.R.Peters',
       'Buxton/Buxton', 'CarlinSmith', 'Gold', 'Hill', 'People',
       'hockingstuart/Biggin', 'Mega', 'Skad', 'Ruralco', 'Create',
       'Janice', 'R', 'G&H', 'Commercial', 'PSP', 'hockingstuart/Cayzer',
       'Unity', 'Sprint', 'McGrath/Buxton', 'hockingstuart/Marshall',
       'McGrath/First', 'voglwalpole', 'Watermark', 'Methven'],
      dtype=object)

In [30]:
df["Regionname"].unique()

array(['Northern Metropolitan', 'Western Metropolitan',
       'Southern Metropolitan', 'Eastern Metropolitan',
       'South-Eastern Metropolitan', 'Eastern Victoria',
       'Northern Victoria', 'Western Victoria'], dtype=object)

# Encoding

In [31]:
from sklearn.preprocessing import LabelEncoder
en=LabelEncoder()

In [32]:
df[["Suburb","SellerG","CouncilArea","Type","Regionname","Method"]]=df[["Suburb","SellerG","CouncilArea","Type","Regionname","Method"]].apply(en.fit_transform)

In [33]:
df.head(1)

,Suburb,Rooms,Type,Price,Method,SellerG,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,CouncilArea,Regionname,Propertycount
0,0,2,0,1050173.0,6,155,2.5,2.0,1.0,1.0,126.0,136.0,31,2,4019.0

In [34]:
df["Regionname"].unique()

array([2, 6, 5, 0, 4, 1, 3, 7])

In [35]:
df["Method"].unique()

array([6, 2, 7, 5, 0, 4, 8, 1, 3])

In [36]:
df.shape

(34856, 15)

In [37]:
df["Type"].unique()

array([0, 2, 1])

# linear regression

In [38]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn .metrics import r2_score,accuracy_score,mean_absolute_error,mean_squared_error

In [39]:
x=df.drop(["Price"],axis=1)

In [40]:
y=df["Price"]

In [41]:
x.head(1)

,Suburb,Rooms,Type,Method,SellerG,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,CouncilArea,Regionname,Propertycount
0,0,2,0,6,155,2.5,2.0,1.0,1.0,126.0,136.0,31,2,4019.0

In [42]:
y.head(1)

0    1050173.0
Name: Price, dtype: float64

In [43]:
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.2,random_state=21)

In [44]:
model=LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

In [45]:
y_pred=model.predict(x_test)

In [46]:
r2_score(y_test,y_pred)*100

16.710451526110802

In [47]:
mean_squared_error(y_test, y_pred)

266084272775.772

In [48]:
new=[[0,2,0,6,155,2.5,2.0,1.0,1.0,126.0,136.0,31,2,4019.0]]

In [49]:
model.predict(new)

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([1149190.89066994])

In [1]:
# Matching With 0 index

In [50]:
y

0        1050173.0
1        1480000.0
2        1035000.0
3        1050173.0
4        1465000.0
           ...
34852    1480000.0
34853     888000.0
34854     705000.0
34855    1140000.0
34856    1020000.0
Name: Price, Length: 34856, dtype: float64

# Random forest

In [58]:
import numpy as np
import joblib
from sklearn.ensemble import RandomForestRegressor
from sklearn .metrics import r2_score,accuracy_score,mean_absolute_error,mean_squared_error

In [54]:
# Split the data into training and testing sets
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

# Initialize and train the Random Forest model
rf_model = RandomForestRegressor(n_estimators=100, random_state=42)
rf_model.fit(x_train, y_train)

# Make predictions
y_pred = rf_model.predict(x_test)

# Evaluate the model
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, y_pred)

In [57]:
print(f"Mean Absolute Error (MAE): {mae}")
print(f"Mean Squared Error (MSE): {mse}")
print(f"Root Mean Squared Error (RMSE): {rmse}")
print(f"RÂ² Score: {r2}")

Mean Absolute Error (MAE): 228828.6727741249
Mean Squared Error (MSE): 161720874619.02707
Root Mean Squared Error (RMSE): 402145.34016823705
RÂ² Score: 0.5005187850029675

In [60]:
cd Download/

[WinError 2] The system cannot find the file specified: 'Download/'
C:\Users\HP\Machine_learning\simple_understand\supervised learning

In [63]:
joblib.dump(rf_model, 'random_forest_model.pkl')

['random_forest_model.pkl']

In [64]:
rf_model = joblib.load('random_forest_model.pkl')

In [72]:
new_house_data = {
    'Suburb': [0],
    'Rooms': [2],
    'Type': [0],
    "Method":[6],
    "SellerG":[155],
    "Distance":[2.5],
    "Bedroom2":[2.0],
    "Bathroom":[1.0],
    "Car":[1.0],
    "Landsize":[126.0],
    "BuildingArea":[136.0],
    "CouncilArea":[31],
    "Regionname":[2],
    "Propertycount":[4019.0]}

In [76]:

new_house_df = pd.DataFrame(new_house_data)


predicted_price = rf_model.predict(new_house_df)


print(f"Predicted Price for the new house: ${predicted_price[0]:,.2f}")

Predicted Price for the new house: $1,069,802.07

In [2]:
# Matching with 0 index

In [67]:
y

0        1050173.0
1        1480000.0
2        1035000.0
3        1050173.0
4        1465000.0
           ...
34852    1480000.0
34853     888000.0
34854     705000.0
34855    1140000.0
34856    1020000.0
Name: Price, Length: 34856, dtype: float64